* text=auto

*.php text eol=lf
*.json text eol=lf
*.score text eol=lf
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf
*.sql text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.cmd text eol=crlf
*.bat text eol=crlf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.zip binary
*.sqlite binary
*.sqlite-shm binary
*.sqlite-wal binary
