<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <route id="root"><rule>/</rule><menu>main</menu><method>html:layout</method><target><module>site</module><controller>index</controller><action>show</action></target></route>
    <route id="lang_root"><rule>/:lang</rule><menu>main</menu><method>html:layout</method><target><module>site</module><controller>index</controller><action>show</action></target><conditions><lang>fr|en|es</lang></conditions></route>
    <route id="lang_docs"><rule>/:lang/docs</rule><menu>main</menu><method>html:layout</method><target><module>site</module><controller>index</controller><action>doc</action><doc>index</doc></target><conditions><lang>fr|en|es</lang></conditions></route>
    <route id="lang_doc"><rule>/:lang/doc/:doc</rule><menu>main</menu><method>html:layout</method><target><module>site</module><controller>index</controller><action>doc</action></target><conditions><lang>fr|en|es</lang></conditions></route>
    <route id="demo_interne_accent"><rule>/fr/démo-interne</rule><menu>main</menu><method>html:layout</method><target><module>site</module><controller>index</controller><action>show</action><lang>fr</lang><pg>demo-interne</pg></target></route>
    <route id="lang_page"><rule>/:lang/:pg</rule><menu>main</menu><method>html:layout</method><target><module>site</module><controller>index</controller><action>show</action></target><conditions><lang>fr|en|es</lang></conditions></route>
    <route id="api_site"><rule>/api/site</rule><method>json</method><target><module>site</module><controller>api</controller><action>site</action></target></route>
    <route id="lang_api_site"><rule>/:lang/api/site</rule><method>json</method><target><module>site</module><controller>api</controller><action>site</action></target><conditions><lang>fr|en|es</lang></conditions></route>
</routes>
